@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");

body {
  margin: 0;
  font-family: "Shizuru", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(233, 169, 50);
  color: #7a031a;
}

code {
  font-family: "Shizuru", cursive;
}
